#body {
    padding-left: 300px;
    
}
.background{
    background-color: rgb(246, 249, 255);
    height: 650px;
}
#dashboard1 {
    font-size: 18px;
    padding-top: 10px;
    color: rgba(65, 84, 241, 1);
}

.chart {
    border: 2px;
    width: 700px;
    // margin-left: 347px;
}
